@model Post

@{

}
<div class="container">
    <h2>@Model.Title</h2>
    <p>@Model.Body</p>
    <div class="post no-shadow">
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            var image_path = $"/Image/{Model.Image}";
            <img src="@image_path" width="500"/>
            <span class="title">@Model.Title</span>
        }
    </div>
    <div class="post-body">
        @Model.Body
    </div>
</div>